/*
  Layout
*/
.fluid-wrapper {
  background-color: var(--color-background);
  box-sizing: border-box;
  color: var(--color-text);
  display: flex;
  flex-direction: row;
  height: 100%;

  &__overlay {
    background-color: var(--color-overlay);
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: opacity 0.5s;
    width: 100%;
    z-index: 2;
  }

  &__header {
    align-items: center;
    background-color: var(--color-background);
    border-bottom: 1px solid var(--color-border);
    display: flex;
    height: 60px;
    position: relative;
    z-index: 1;

    @media only screen and (max-width: 959px) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }

    .side-navigation-open {
      opacity: 0;
      pointer-events: none;

      @media only screen and (max-width: 959px) {
        opacity: 1;
        pointer-events: all;
      }

      &__icon-line {
        background-color: var(--color-text-contrast);
        height: 2px;
        margin: 3px 0;
        width: 17px;
      }
    }

    .header-content {
      margin-left: 10px;
    }
  }

  &__content {
    height: 100%;
    overflow: auto;
    width: 100%;

    .fluid-view-content {
      align-items: center;
      display: flex;
      justify-content: center;
      place-content: center;
      width: 100%;
      max-width: 1920px;

      .fluid-view-box {
        border-radius: 10px;
        flex-direction: column;
        max-width: 1600px;
        min-height: 320px;
        padding: 20px;
        width: 100%;

        @media only screen and (min-width: 1900px) {
          border: 1px solid var(--color-border);
          margin: 15px 0;
        }

        @media only screen and (max-width: 959px) {
          margin-top: 60px;
        }
      }
    }
  }

  &__navigation {
    background-color: var(--color-background);
    border-right: 1px solid var(--color-border);
    display: block;
    min-width: 250px;
    overflow-x: hidden;
    position: relative;
    transition: width 0.2s ease-in-out, min-width 0.2s ease-in-out;
    width: 250px;
    z-index: 1;

    &--closed {
      min-width: 0;
      width: 0;
    }

    @media only screen and (max-width: 959px) {
      height: 100%;
      left: 0;
      min-width: 0;
      position: fixed;
      top: 0;
      width: 0;
      z-index: 2;
    }
  }

  &__nav-close-area {
    display: flex;
    flex-direction: row;
    padding: 4px;
    place-content: center flex-end;
  }
}

// When interacted with the navigation
.fluid-wrapper.nav-status-interacted {
  .fluid-wrapper__overlay {
    @media only screen and (max-width: 959px) {
      display: block;
      opacity: 0.8;
      pointer-events: all;
    }
  }

  .fluid-wrapper__navigation {
    min-width: 0;
    width: 0;

    @media only screen and (max-width: 959px) {
      min-width: 250px;
      width: 250px;
    }
  }

  .side-navigation-open {
    opacity: 1;
    pointer-events: all;
  }
}

.fluid-wrapper.fixed-header {
  .fluid-wrapper__header {
    position: fixed;
    width: 100%;
  }

  .fluid-view-box {
    margin-top: 60px;
  }
}
