.f-text {
  &--light {
    opacity: 0.7;
  }

  &--heavy {
    font-weight: 700;
  }
}

.f-message {
  &--error {
    color: var(--color-error);
  }

  &--success {
    color: var(--color-success);
  }
}
