// Theme colors
body[theme='dark-green'] {
  // Theme
  --color-primary: #6600eb;
  --color-primary-heavy: #4701a3;
  --color-secondary: #147d78;
  --color-secondary-heavy: #0b5e59;

  // Background
  --color-background: #f1f1f1;
  --color-background-heavy: #b1b1b1;
  --color-background-light: #eeeeee;
  --color-overlay: rgb(0, 0, 0);

  // Text
  --color-text: #333333;
  --color-text-secondary: #222222;
  --color-text-contrast: #cecece;

  // Misc
  --color-error: #e31818;
  --color-success: rgb(95, 247, 128) 8;
}
