.box-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-flow: inherit;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: background-color 0.25s;
  width: 100vw;
  z-index: 3;

  &--visible {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.login-box {
  align-items: flex-end;
  background-color: var(--color-container-background);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  max-height: 80%;
  max-width: 80%;
  padding: 6px;
  scale: 0;
  width: 310px;
}

.form-container {
  padding: 5px 25px 25px 25px;
}

.action-buttons {
  margin-top: 20px;
}

.generic-error {
  margin: 7px 8px;
  max-width: 250px;
}
