.page-selector-item.active {
  background-color: var(--color-background-heavy);
}

.shimmer {
  &.first-layer-load {
    color: #fff;
    background: linear-gradient(
      to right,
      #fa3535 10%,
      rgb(252, 100, 89) 50%,
      rgb(253, 106, 106) 60%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
  }

  &.second-layer-load {
    color: #fff;
    background: linear-gradient(to right, #b9b882 10%, #fbff03 50%, #a7a402 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
  }

  &.saved {
    color: #7eff82;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
